.card {
    margin-bottom: 2.2rem;
    border: none;

    &.card-statistic {
        box-shadow: 1px 2px 5px rgba(#2faaf4, 0.5);
        background: linear-gradient(to bottom, #25a6f1, #54b9ff);

        .card-title {
            text-transform: uppercase;
            color: rgba(255, 255, 255, 0.651);
            letter-spacing: 0.8px;
            font-weight: 300;
            font-size: 1.3rem;
            margin-bottom: 0;
            margin-top: 5px;
        }

        .card-right {
            p {
                font-size: 1.5rem;
                color: #fff;
                margin-bottom: 0;
            }
            span.green {
                color: rgb(111, 255, 111);
            }
            span.red {
                color: rgb(255, 121, 121);
            }
        }
        .chart-wrapper {
            height: 100px;
        }
    }

    .card-header {
        border: none;

        h4 {
            font-size: $card-title-font-size;
            font-weight: bold;
            text-align: center;
        }

        /* The beginning of the card body with padding = 0 */

        & ~ .card-body {
            padding-top: 0;
        }
    }

    .card-content {
        position: relative;
    }
    .card-title {
        font-size: 1.2rem;
        text-align: center;
    }

    /* Default padding = 1.5 rem */
    .card-body {
        padding: $card-cap-padding-y $card-cap-padding-x;
    }

    .card-heading {
        color: #555;
        font-size: 1rem;
        /* Reset: 1.5rem */
    }
    .card-img-overlay {
        background-color: rgba(0, 0, 0, 0.6);

        p {
            color: #eee;
        }

        .card-title {
            color: #fff;
        }
    }
}

/* Define the consumer card here. */
/* Copy almost everything from the card definition */
.consumer-card {
    --bs-card-cap-padding-y: 0.5rem !important;

    .card-header {
        .card-title {
            margin-top: 0.5rem !important;
            margin-bottom: 0rem !important;
        }
    }

    .card-body {
        padding-bottom: 0.5rem;
        --red: #ef1400;
        --gold: #b68e0b;
        --grey: #cccccc;
        --black: #000000;
        --darkgreen: #00842c;
        --darkblue: #28386b;

        .red {
            color: var(--red) !important;
        }
        .gold {
            color: var(--gold) !important;
        }
        .grey {
            color: var(--grey) !important;
        }
        .black {
            color: var(--black) !important;
        }
        .darkgreen {
            color: var(--darkgreen) !important;
        }
        .darkblue {
            color: var(--darkblue) !important;
        }
        .underline {
            text-decoration: underline !important;
        }

        .card-category {
            font-size: 1rem !important;
            font-weight: bolder !important;
            color: var(--darkblue);
            white-space: pre-wrap;
        }

        .card-link:hover {
            text-decoration: underline !important;
            color: var(--black) !important;
        }

        .card-text {
            white-space: pre-wrap;
        }

        .card-image {
            max-width: 99% !important;
            padding-top: 0.5rem !important;
            padding-bottom: 0.5rem !important;
        }

        .card-info-button {
            font-weight: 5000;
            padding: 0.5rem 1rem;
            background: transparent;
            border-color: purple;
            border: 1px solid;
            border-radius: 0.3rem;
        }

        .card-info-button:hover {
            background: rgba(128, 0, 128, 0.2);
            box-shadow: 0rem 0rem 0.2rem rgba(128, 0, 128, 0.8);
        }

        .card-info-button:active {
            background: rgba(128, 0, 128, 1);
        }

        .empty-line {
            padding-top: 1rem !important;
        }

        .empty-line03 {
            padding-top: 0.3rem !important;
        }

        .empty-line01 {
            padding-top: 0.1rem !important;
        }
    }
}
/* End of definition */

.consumer-blacklist {
    .consumer-blacklist-button-add {
        font-weight: 5000;
        padding: 0.5rem 1rem;
        background: transparent;
        border: 1px solid;
        border-radius: 0.3rem;
    }
    .consumer-blacklist-button-add:hover {
        background: rgba(168, 0, 0, 0.2);
        box-shadow: 0rem 0rem 0.2rem rgba(168, 0, 0, 0.8);
    }

    .consumer-blacklist-button-add:active {
        background: rgba(168, 0, 0, 0.8);
    }

    .consumer-blacklist-button-remove {
        font-weight: 5000;
        padding: 0.5rem 1rem;
        background: transparent;
        border: 1px solid;
        border-radius: 0.3rem;
    }
    .consumer-blacklist-button-remove:hover {
        background: rgba(0, 168, 64, 0.2);
        box-shadow: 0rem 0rem 0.2rem rgba(0, 168, 64, 0.8);
    }
    .consumer-blacklist-button-remove:active {
        background: rgba(0, 168, 64, 0.8);
    }
}

.pricing {
    .card {
        box-shadow: none;
        margin-bottom: 0;
        border-right: 1px solid $gray-200;
        box-shadow: 0 10px 10px $gray-200;
    }

    .consumer-card {
        box-shadow: none;
        margin-bottom: 0;
        border-right: 1px solid $gray-200;
        box-shadow: 0 10px 10px $gray-200;
    }

    h1 {
        text-align: center;
        font-size: 4rem;
        margin-bottom: 3rem;
    }
    .card-header {
        .card-title {
            font-size: 2rem !important;
            margin-bottom: 0;
        }
        p {
            font-size: 0.8rem;
        }
    }
    ul {
        li {
            list-style: none;
            margin-bottom: 0.5rem;
            i,
            svg {
                width: 1rem;
                color: map-get($theme-colors, "success");
                font-size: 1rem;
                margin-right: 7px;
            }
        }
    }
    .card-highlighted {
        background-color: map-get($theme-colors, "primary");
        padding-top: 20px;
        padding-bottom: 20px;
        .card-header,
        .card-body {
            background-color: map-get($theme-colors, "primary");
            color: $card-bg;
        }
        ul {
            li {
                i,
                svg {
                    color: $teal-400;
                }
                color: #fff;
            }
        }
        .card-footer {
            background-color: map-get($theme-colors, "primary");
        }
        .card-title {
            color: #fff;
            font-size: 1.8rem;
        }
    }
}
