{% set title = 'Bill Records' %} {% set filename = 'layout-vertical-navbar.html'
%} {% extends 'layouts/vertical-navbar.html' %} {% block content %}

<div class="page-heading">
    <!-- Blacklist Title -->
    <div class="page-title">
        <div class="row">
            <div class="col-12 col-md-6 order-md-1 order-last">
                <h3>Blacklist</h3>
                <p class="text-subtitle text-muted JS-bill-record-card-name">
                    Blacklist
                </p>
                <p class="text-subtitle text-muted">
                    <a href="consumer-cards.html"> See all cards </a>
                </p>
            </div>
            <div class="col-12 col-md-6 order-md-2 order-first">
                <nav
                    aria-label="breadcrumb"
                    class="breadcrumb-header float-start float-lg-end"
                >
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a href="index.html">Dashboard</a>
                        </li>
                        <li class="breadcrumb-item">
                            <a href="index.html">My Cards</a>
                        </li>
                        <li class="breadcrumb-item active" aria-current="page">
                            Blacklist
                        </li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>

    <!-- Blacklist HTML -->
    <section class="section">
        <div class="card">
            <div class="card-header">Black Lists</div>
            <div class="card-body">
                <table class="table table-striped" id="table1">
                    <thead>
                        <tr>
                            <th>Merchant</th>
                            <th>Blacklist state</th>
                            <th>Blacklist rate</th>
                            <th>Options</th>
                        </tr>
                    </thead>
                    <tbody class="consumer-blacklist JS-consumer-blacklist">
                        <tr>
                            <td>Merchant 1</td>
                            <td class="consumer-blacklist-state">Yes</td>
                            <td>1.35%</td>
                            <td>
                                <button class="consumer-blacklist-button-add">
                                    Add
                                </button>
                                <button
                                    class="consumer-blacklist-button-remove"
                                >
                                    Remove
                                </button>
                            </td>
                        </tr>
                        <tr>
                            <td>Merchant 2</td>
                            <td class="consumer-blacklist-state">No</td>
                            <td>0.12%</td>
                            <td>
                                <button class="consumer-blacklist-button-add">
                                    Add
                                </button>
                                <button
                                    class="consumer-blacklist-button-remove"
                                >
                                    Remove
                                </button>
                            </td>
                        </tr>
                        <tr>
                            <td>Merchant 3</td>
                            <td class="consumer-blacklist-state">No</td>
                            <td>1.08%</td>
                            <td>
                                <button class="consumer-blacklist-button-add">
                                    Add
                                </button>
                                <button
                                    class="consumer-blacklist-button-remove"
                                >
                                    Remove
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </section>
</div>

{% endblock %} {% block js %}

<script src="assets/js/app.js"></script>

{% endblock %}
