{% set title = 'Consumer Dashboard' %} {% set filename = 'consumer-cards.html'
%} {% extends 'layouts/master.html' %}{% block content %}

<div class="page-heading">
    <!-- Consumer Card Title -->
    <div class="page-title">
        <div class="row">
            <div class="col-md-5">
                <h3>My Cards</h3>
                <p class="text-subtitle text-muted">
                    See all of my cards in this dashboard.
                </p>
            </div>
            <div class="col-md-5">
                <nav
                    aria-label="breadcrumb"
                    class="breadcrumb-header float-start float-lg-end"
                >
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a href="index.html">Dashboard</a>
                        </li>
                        <li class="breadcrumb-item active" aria-current="page">
                            My Cards
                        </li>
                    </ol>
                </nav>
            </div>
            <div class="col-md-2 consumer-card">
                <a
                    class="consumer-card-top-button"
                    type="button"
                    href="spend.html"
                >
                    Default button
                </a>
            </div>
        </div>
    </div>

    <!-- Consumer cards HTML -->
    <!-- We would like to use JS to fill in the HTML-->
    <section id="consumer-cards">
        <div class="row JS-consumer-cards"></div>
    </section>
</div>

{% endblock %} {% block js %}

<script src="assets/js/app.js"></script>

{% endblock %}
