{% set title = 'Consumer Dashboard' %} {% set filename =
'layout-vertical-navbar.html' %} {% extends 'layouts/vertical-navbar.html' %} {%
block content %}

<div class="page-heading">
    <div class="page-title">
        <div class="row">
            <div class="col-12 col-md-6 order-md-1 order-last">
                <h3>My Cards</h3>
                <p class="text-subtitle text-muted">
                    See all of my cards in this dashboard.
                </p>
            </div>
            <div class="col-12 col-md-6 order-md-2 order-first">
                <nav
                    aria-label="breadcrumb"
                    class="breadcrumb-header float-start float-lg-end"
                >
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a href="index.html">Dashboard</a>
                        </li>
                        <li class="breadcrumb-item active" aria-current="page">
                            My Cards
                        </li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>





    <!-- Try Collapse -->
    <section id="consumer-cards">
        <div class="row match-height">

            <div class="col-lg-4 col-md-6 col-sm-12">

                <div class="card consumer-card">

                    <!-- The card header -->
                    <div class="card-header">
                        <h3 class="card-title">Card 1</h3>
                    </div>

                    <!-- The card body -->
                    <div class="card-body">

                        <p>

                            <!-- Card Name-->
                            <div>
                                <text class="card-category">Card Name  </text>
                                <text class="card-text">Default name</text>
                            </div>

                            <!-- Merchant Name -->
                            <div>
                                <text class="card-category">Merchant Name  </text>
                                <text class="card-text">Default merchant</text>
                            </div>

                            <!-- Card Image -->
                            <div class="card-image">
                                <img class="img-fluid w-100" src="assets/images/samples/samples-card/customer-gift-card.png" alt="This image cannot be displayed">
                            </div>

                            <div class="empty-line"></div>

                            <!-- Card Info Button-->
                            <div>
                                <button 
                                    class="card-info-button"
                                    type="button"
                                    data-bs-toggle="collapse"
                                    data-bs-target="#card-info"
                                    aria-expanded="true"
                                    aria-controls="card-info"
                                >Card Info</button>
                            </div>

                        </p>

                        <!-- Set the card detail inside the collapse -->
                        <div class="collapse" id="card-info">

                            <!-- Remaining value -->
                            <div>
                                <text class="card-category gold">Remaining value  </text>
                                <text class="card-text">$$$</text>
                            </div>

                            <!-- Expiration time -->
                            <div>
                                <text class="card-category red">Expiration time  </text>
                                <text class="card-text">Unknown</text>
                            </div>

                            <!-- Bill records -->
                            <div>
                                <a href=# class="card-category grey card-link link-darkgreen">Bill records</a>
                            </div>

                            <!-- Add black list -->
                            <div>
                                <a href=# class="card-category grey card-link link-black">Add black list</a>
                            </div>

                            <div class="empty-line"></div>

                        </div>
                    </div>

                </div>

            </div>

        </div>

    </section>

</div>

{% endblock %} {% block js %}

<script>

console.log("Loading the JavaScript for the consumer dashboard. ");

var card_info_btn = document.getElementsByClassName(
    "card-info-button"
);
for (var i = 0; i < card_info_btn.length; i++) {
    card_info_btn[i].addEventListener('click', function (event) {
        if (event.target.textContent === "Card Info") {
            event.target.textContent = "Hide Card Info";
        } else {
            event.target.textContent = "Card Info";
        }  
    });
}

console.log("Finish loading the JavaScript for the consumer dashboard. ");

</script>
<!-- <script src="assets/js/components/button.js"></script> -->

{% endblock %}
