{% set title = 'Bill Records' %} {% set filename = 'layout-vertical-navbar.html'
%} {% extends 'layouts/vertical-navbar.html' %} {% block content %}

<div class="page-heading">
    <!-- Blacklist Title -->
    <div class="page-title">
        <div class="row">
            <div class="col-12 col-md-6 order-md-1 order-last">
                <h3>Blacklist</h3>
                <p class="text-subtitle text-muted JS-bill-record-card-name">
                    Default card's blacklist
                </p>
                <p class="text-subtitle text-muted">
                    <a href="consumer-cards.html"> See all cards </a>
                </p>
            </div>
            <div class="col-12 col-md-6 order-md-2 order-first">
                <nav
                    aria-label="breadcrumb"
                    class="breadcrumb-header float-start float-lg-end"
                >
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a href="index.html">Dashboard</a>
                        </li>
                        <li class="breadcrumb-item">
                            <a href="index.html">My Cards</a>
                        </li>
                        <li class="breadcrumb-item active" aria-current="page">
                            Blacklist
                        </li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>

{% endblock %} {% block js %}

<script src="assets/js/app.js"></script>

{% endblock %}
