{% set title = 'Merchant Add Card' %}
{% set filename = 'merchant-addCard.html' %}

{% extends 'layouts/vertical-merchant.html' %}
{% block content %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
  $(document).ready(function(){
    // can only click once
    $(".hh").click(function(){
      $(".dd").slideToggle();
    });

    $("#reloadable").click(function(){
      $(".parent").html('Reloadable Card');
      });
    $("#nonReloadable").click(function(){
      $(".parent").html('Non-Reloadable Card');
    });
   });
</script>

<div class="page-heading">
    <div class="page-title">
        <div class="row">
            <div class="col-12 col-md-6 order-md-1 order-last">
                <h3>Issue Card</h3>
                <p class="text-subtitle text-muted">Complete the form and click the "issue" button to add the card to "My Cards"</p>
            </div>
            <div class="col-12 col-md-6 order-md-2 order-first">
                <nav aria-label="breadcrumb" class="breadcrumb-header float-start float-lg-end">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="merchant-dashboard.html">Merchant Profile</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Issue Card</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>

    <!-- Sample starts-->
    <section class="section">
      <div class="row">
        <!-- Issuance Info -->
        <div class="col-12">
          <div class="card">
            <div class="card-header">
              <h4 class="card-title">Issuance Information</h4>
            </div>
            <div class="card-body">
              <form class="form" data-parsley-validate>
                <div class="row">
                    <div class="col-md-6 col-12">
                        <div class="form-group mandatory">
                            <label for="fullname-column" class="form-label">Card Name</label>
                            <input type="text" id="cardname-column" class="form-control" placeholder="" name="cardname-column" data-parsley-required="true">
                        </div>
                    </div>
                    <div class="col-md-6 col-12">
                      <div class="form-group mandatory">
                        <label for="formFile" class="form-label">Upload Card Photo</label>
                        <input class="form-control" type="file" id="id">
                      </div>
                    </div>

                    <!-- Card Type Starts -->
                    <div class="col-md-6 col-12">
                        <!-- Dropdown -->
                        <div class="form-group mandatory">
                          <label for="formFile" class="form-label">Choose Card Type</label>

                          <div class="dropdown btn-outline-dark" role="tablist">

                            <button class="parent btn btn-light btn-outline-dark dropdown-toggle "
                                data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="width: 200px">
                                Reloadable Card
                            </button>
                            <div class="dropdown-menu dd">
                                <a class="hh list-group-item list-group-item-action  active" value="Reloadable" id="reloadable"
                                data-bs-toggle="list" href="#list-reloadable" role="tab">
                                  <!-- add example here -->
                                  Reloadable Card <small class="text-muted"><i></i></small>
                                </a>
                                <a class="hh list-group-item list-group-item-action" value="Non-Reloadable Card" id="nonReloadable"
                                data-bs-toggle="list" href="#list-nonReloadable" role="tab">
                                  Non-Reloadable Card <small class="text-muted">eg.<i>e-voucher, gift card</i></small>
                                </a>
                            </div>
                          </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-12">
                        <div class="tab-content text-justify" id="nav-tabContent">
                            <div class="tab-pane show active" id="list-reloadable" role="tabpanel"
                                aria-labelledby="list-home-list">
                                <div class="row">
                                  <div class="form-group col-md-6 col-12 mandatory">
                                      <label for="max-column" class="form-label">Maximum Top-up Value</label>
                                      <input type="text" id="max-column" class="form-control" name="max-column" placeholder="" data-parsley-required="true">
                                  </div>
                                  <div class="form-group col-md-6 col-12 mandatory">
                                    <label for="min-column" class="form-label">Minimum Top-up Value</label>
                                    <input type="text" id="min-column" class="form-control" name="min-column" placeholder="" data-parsley-required="true">
                                  </div>
                                </div>
                            </div>
                            <div class="tab-pane" id="list-nonReloadable" role="tabpanel"
                                aria-labelledby="list-profile-list">
                                <div class="form-group mandatory">
                                  <label for="faceValue-column" class="form-label">Face Value of E-voucher</label>
                                  <input type="text" id="faceValue-column" class="form-control" name="faceValue-column" placeholder="" data-parsley-required="true">
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Card Type Ends -->
                    <div class="col-md-6 col-12">
                      <div class="form-group mandatory">
                          <label for="bonus-column" class="form-label">Bonus Rate</label>
                          <input type="text" id="bonus-column" class="form-control" name="bonus-column" placeholder="eg. 5%" data-parsley-required="true">
                      </div>
                    </div>
                    <div class="col-md-6 col-12">
                      <div class="form-group">
                          <label for="company-column" class="form-label">Total Supply</label>
                          <input type="number" id="supply-column" class="form-control" value="1" name="supply-column" data-parsley-required="true">
                      </div>
                    </div>
                    <div class="col-md-6 col-12">
                      <form class="form-inline">
                        <div class="form-group">
                          <div class="form-check">
                            <input style="height:30px; width:30px; margin-top: 15px;" type="checkbox" id="checkbox5" class='form-check-input' data-parsley-required="true" data-parsley-error-message="You have to accept our terms and conditions to proceed.">
                            <label for="checkbox5" class="form-check-label form-label" style="height:30px; margin-top: 15px;">
                              &ensp; Is It Giftable? <small class="text-muted">A giftable card is not available for ownership transfer</small>
                            </label>
                          </div>
                        </div>
                      </form>
                    </div>
                    <div class="col-md-6 col-12">
                      <button class="btn btn-outline-primary btn-lg" style="float:right">Issue</button>
                    </div>
                  </div>
              </form>
            </div>

            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Sample ends -->
</div>
{% endblock %}