{% set title = 'Merchant Issuance Info' %}
{% set filename = 'merchant-issuanceInfo.html' %}

{% extends 'layouts/vertical-merchant.html' %}
{% block content %}
<div class="page-heading">
    <div class="page-title">
        <div class="row">
            <div class="col-12 col-md-6 order-md-1 order-last">
                <h3>Issue Card</h3>
                <p class="text-subtitle text-muted">Complete the form and click the "transfer" button to transfer fund privilege to costumer</p>
            </div>
            <div class="col-12 col-md-6 order-md-2 order-first">
                <nav aria-label="breadcrumb" class="breadcrumb-header float-start float-lg-end">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="merchant-dashboard.html">Merchant Profile</a></li>
                        <li class="breadcrumb-item"><a href="merchant-cards.html">Select Cards</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Card Issuance</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>

    <!-- Sample starts-->
    <section class="section">
      <div class="row">
        <!-- Gift Card -->
        <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
          <div class="card">
            <div class="card-content">
                <div class="card-body">
                    <h4 class="card-title">Card Title</h4>
                </div>
                <img class="img-fluid w-100" src="assets/images/samples/4.png" alt="Gift Card Image">
            </div>
            <div class="card-footer">
              <h6>Card Description: </h6>
              <p>...</p>
              <p>...</p>
              <div class="d-flex justify-content-between">
                <span>Price: $ <input type="text" inputmode="numeric" placeholder="Input Issuance Amount" /></span>
                <div class="row justify-content-center">
                <!-- <button class="btn btn-ouline-primary">Buy now</button> -->
                  <a href="merchant-issuanceInfo.html" class="btn btn-outline-primary">Issue</a>
                </div>
              </div>
            </div>
        </div>
        </div>
        <!-- Issuance Info -->
        <div class="col-12 col-sm-12 col-md-8 col-lg-8 col-xl-8">
          <div class="card">
            <div class="card-header">
              <h4 class="card-title">Issuance Information</h4>
            </div>
            <div class="card-body">
              <div class="row">
                <div class="col-lg-6 col-md-12">
                    <div class="form-group">
                        <label for="basicInput" class="form-label">Full Name</label>
                        <input type="text" class="form-control" id="fullName" placeholder="LASTNAME, Firstname" required>
                    </div>

                    <div class="form-group">
                      <label for="basicInput" class="form-label">Email Address</label>
                      <input type="email" class="form-control" id="emailAddress" placeholder="email@example.com" required>
                    </div>

                    <div class="form-group">
                      <label for="basicInput" class="form-label">Store Address</label>
                      <input type="email" class="form-control" id="storeAddress" placeholder="Provide your store location" required>
                    </div>

                </div>
                <div class="col-lg-6 col-md-12">
                  <div id="input-file-browser">
                    <div class="form-group">
                      <label for="basicInput" class="form-label">Transfer Fund Privilege</label>
                      <input type="text" class="form-control" id="walletAddress" placeholder="Wallet address" required>
                    </div>
                    <div class="form-group">
                      <label for="formFile" class="form-label">Upload License</label>
                      <input class="form-control" type="file" id="license">
                    </div>
                    <div class="form-group">
                      <label for="formFile" class="form-label">Upload Business Logo</label>
                      <input class="form-control" type="file" id="businessPogo">
                    </div>
                  </div>
                </div>
            </div>
            <div class="row form-group">
                <div class="col-lg-6 col-md-12"></div>
                <div class="col-lg-6 col-md-12">
                  <div class="row  form-label">
                    <div class="col">                    
                      <label for="disabledInput">Issuance Price</label>
                      <p class="form-control-static" id="issuancePrice">$ </p>
                    </div>
                    <div class="col">
                      <button class="btn btn-outline-primary btn-lg" style="float:right">Issue</button>
                    </div>
                  </div>
                </div>
            </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Sample ends -->
</div>
{% endblock %}