{% set title = 'Merchant Registration' %}
{% set filename = 'merchant-registration.html' %}

{% extends 'layouts/master.html' %}
{% block content %}
<div class="page-heading">
    <div class="page-title">
        <div class="row">
            <div class="col-12 col-md-6 order-md-1 order-last">
                <h3>Registration</h3>
                <p class="text-subtitle text-muted">Complete the form and become a merchant with full acess to PrepaidTrust</p>
            </div>
            <div class="col-12 col-md-6 order-md-2 order-first">
                <nav aria-label="breadcrumb" class="breadcrumb-header float-start float-lg-end">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="merchant-dashboard.html">Dashboard</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Merchant Registration</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>

    <!-- // Basic multiple Column Form section start -->
    <section id="multiple-column-form">
        <div class="row match-height">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Apply To Be a Merchant</h4>
                    </div>
                    <div class="card-content">
                        <div class="card-body">
                            <form class="form" data-parsley-validate>
                                <div class="row">
                                    <div class="col-md-6 col-12">
                                        <div class="form-group mandatory">
                                            <label for="fullname-column" class="form-label">Full Name</label>
                                            <input type="text" id="fullname-column" class="form-control" placeholder="LASTNAME Firstname" name="fullname-column" data-parsley-required="true">
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-12">
                                      <div class="form-group mandatory">
                                          <label for="email-id-column" class="form-label">Email</label>
                                          <input type="email" id="email-id-column" class="form-control" name="email-id-column" placeholder="Email" data-parsley-required="true">
                                      </div>
                                    </div>
                                    <div class="col-md-6 col-12 mandatory">
                                      <div class="form-group">
                                          <label for="company-column" class="form-label">Company/Store Name</label>
                                          <input type="text" id="company-column" class="form-control" name="company-column" placeholder="Company/Store name"  data-parsley-required="true">
                                      </div>
                                    </div>
                                    <div class="col-md-6 col-12">
                                        <div class="form-group">
                                            <label for="address-column" class="form-label">Company Address</label>
                                            <input type="text" id="address-column" class="form-control" placeholder="Company location" name="address-column"  data-parsley-required="true">
                                        </div>
                                    </div>
                                    <!-- <div id="input-file-browser"> -->
                                    <div class="col-md-6 col-12">
                                      <div class="form-group">
                                        <label for="formFile" class="form-label">Upload ID Card</label>
                                        <input class="form-control" type="file" id="id">
                                      </div>
                                    </div>
                                    <div class="col-md-6 col-12">
                                      <div class="form-group">
                                        <label for="formFile" class="form-label">Upload License</label>
                                        <input class="form-control" type="file" id="license">
                                      </div>
                                    </div>
                                    <div class="col-md-6 col-12">
                                      <div class="form-group">
                                        <label for="formFile" class="form-label">Upload Business Logo</label>
                                        <input class="form-control" type="file" id="businessPogo">
                                      </div>
                                    </div>
                                    <div class="col-md-6 col-12">
                                      <div class="form-group">
                                        <label for="formFileMultiple" class="form-label">Upload Store Photos</label>
                                        <input class="form-control" type="file" id="storePhoto" multiple>
                                      </div>
                                    </div>
                                    <!-- </div> -->
                                    <div class="col-12">
                                        <div class='form-group'>
                                          <div class="form-check mandatory">
                                            <input type="checkbox" id="checkbox5" class='form-check-input' checked data-parsley-required="true" data-parsley-error-message="You have to accept our terms and conditions to proceed.">
                                            <label for="checkbox5" class="form-check-label form-label">I accept these terms and conditions.</label>
                                          </div>
                                        </div>
                                    </div>
                                  </div>
                                  <div class="row">
                                      <div class="col-12">
                                        <div class='form-group mandatory'>
                                          <fieldset>
                                            <label class="form-label">
                                              Favourite Colour
                                            </label>
                                            <div class="form-check">
                                              <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1" data-parsley-required="true">
                                              <label class="form-check-label form-label" for="flexRadioDefault1">
                                                Red
                                              </label>
                                            </div>
                                            <div class="form-check">
                                              <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2">
                                              <label class="form-check-label form-label" for="flexRadioDefault2">
                                                Blue
                                              </label>
                                            </div>
                                          </fieldset>
                                        </div>
                                      </div>
                                  </div>
                                  <div class="row">
                                      <div class="col-12 d-flex justify-content-end">
                                          <button type="submit" class="btn btn-primary me-1 mb-1">Submit</button>
                                          <button type="reset" class="btn btn-light-secondary me-1 mb-1">Reset</button>
                                      </div>
                                  </div>
                              </form>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </section>
      <!-- // Basic multiple Column Form section end -->
</div>
{% endblock %}