{% set title = 'Merchant Dashboard' %}
{% set filename = 'merchant-dashboard.html' %}

{% extends 'layouts/vertical-merchant.html' %} 

{% block styles %}
<link rel="stylesheet" href="assets/css/shared/iconly.css">
{% endblock %}

{% block content %}
<div class="page-heading">
    <h3>Profile Statistics</h3>
</div>

<div class="page-content">
    <section class="row">
        <!-- Left Part -->
        <div class="col-12 col-lg-9">
            <div class="row">
                <!-- Total Balance -->
                <div class="col-6 col-lg-3 col-md-6">
                    <div class="card">
                        <div class="card-body px-4 py-4-5">
                            <div class="row">
                                <div class="col-md-4 col-lg-12 col-xl-12 col-xxl-5 d-flex justify-content-start ">
                                    <div class="stats-icon purple mb-2">
                                        <i class="iconly-boldTicket-Star"></i>
                                    </div>
                                </div>
                                <div class="col-md-8 col-lg-12 col-xl-12 col-xxl-7">
                                    <a href="#" class="text-muted font-semibold" style="white-space: nowrap">Balance</a>
                                    <h6 class="font-extrabold mb-0" style="white-space: nowrap">$ 10086.00</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Card Holders -->
                <div class="col-6 col-lg-3 col-md-6">
                    <div class="card">
                        <div class="card-body px-4 py-4-5">
                            <div class="row">
                                <div class="col-md-4 col-lg-12 col-xl-12 col-xxl-5 d-flex justify-content-start ">
                                    <div class="stats-icon blue mb-2">
                                        <i class="iconly-boldProfile"></i><br>
                                    </div>
                                </div>
                                <div class="col-md-8 col-lg-12 col-xl-12 col-xxl-7">
                                    <a href="#" class="text-muted font-semibold" style="white-space: nowrap">Holders</a>
                                    <h6 class="font-extrabold mb-0" style="white-space: nowrap">1005</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Total Interest -->
                <div class="col-6 col-lg-3 col-md-6">
                    <div class="card">
                        <div class="card-body px-4 py-4-5">
                            <div class="row">
                                <div class="col-md-4 col-lg-12 col-xl-12 col-xxl-5 d-flex justify-content-start ">
                                    <div class="stats-icon green mb-2">
                                        <i class="iconly-boldDiscount"></i>
                                    </div>
                                </div>
                                <div class="col-md-8 col-lg-12 col-xl-12 col-xxl-7">
                                    <a href="#" class="text-muted font-semibold" style="white-space: nowrap">Interest</a>
                                    <h6 class="font-extrabold mb-0" style="white-space: nowrap">$ 666.55</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Calculated apr -->
                <div class="col-6 col-lg-3 col-md-6">
                    <div class="card">
                        <div class="card-body px-4 py-4-5">
                            <div class="row">
                                <div class="col-md-4 col-lg-12 col-xl-12 col-xxl-5 d-flex justify-content-start ">
                                    <div class="stats-icon red mb-2">
                                        <i class="iconly-boldBookmark"></i>
                                    </div>
                                </div>
                                <div class="col-md-8 col-lg-12 col-xl-12 col-xxl-7">
                                    <a href="#" class="text-muted font-semibold" style="white-space: nowrap">Calculated apr</a>
                                    <h6 class="font-extrabold mb-0" style="white-space: nowrap">7.88%</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Daily Active Users(Bar Chart/ Line Chart) -->
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h4 style="text-align: left;">Daily Active Users</h4>
                            <h6 style="text-align: left; text-indent: 105px;">--Last 10 Days</h6>
                        </div>
                        <div class="card-body">
                            <!-- dashboard.js -->
                            <div id="chart-profile-visit"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Right Part -->
        <div class="col-12 col-lg-3">
            <!-- Issuance Info + Store Logo -->
            <!-- <div class="card">
                <div class="card-body py-4 px-4">
                    <div class="d-flex align-items-center">
                        <div class="avatar avatar-xl">
                            <img src="assets/images/faces/1.jpg" alt="Face 1">
                        </div>
                        <div class="ms-3 name">
                            <h5 class="font-bold">John Duck</h5>
                            <h6 class="text-muted mb-0">@johnducky</h6>
                        </div>
                    </div>
                </div>
            </div> -->
            <!-- Recent Users Activities -->
            <div class="card">
                <div class="card-header">
                    <h4>Recent Users Activities</h4>
                </div>
                <div class="card-content pb-4">
                    <div class="recent-message d-flex px-4 py-3">
                        <!-- profile photo -->
                        <div class="avatar avatar-lg">
                            <img src="assets/images/faces/4.jpg">
                        </div>
                        <!-- activity -->
                        <div class="name ms-4">
                            <h5 class="mb-1">0xb79...9268</h5>
                            <h6 class="text-muted mb-0" style="white-space: nowrap">Top-up: $ 1000.00</h6>
                        </div>
                    </div>
                    <div class="recent-message d-flex px-4 py-3">
                        <div class="avatar avatar-lg">
                            <img src="assets/images/faces/5.jpg">
                        </div>
                        <div class="name ms-4">
                            <h5 class="mb-1">0x892...43e7</h5>
                            <h6 class="text-muted mb-0" style="white-space: nowrap">Pay: $ 100.00</h6>
                        </div>
                    </div>
                    <div class="recent-message d-flex px-4 py-3">
                        <div class="avatar avatar-lg">
                            <img src="assets/images/faces/1.jpg">
                        </div>
                        <div class="name ms-4">
                            <h5 class="mb-1">0x30c...FfC2</h5>
                            <h6 class="text-muted mb-0" style="white-space: nowrap">Buy: $ 200.00</h6>
                        </div>
                    </div>
                    <div class="recent-message d-flex px-4 py-3">
                        <div class="avatar avatar-lg">
                            <img src="assets/images/faces/1.jpg">
                        </div>
                        <div class="name ms-4">
                            <h5 class="mb-1">0x71c...976f</h5>
                            <h6 class="text-muted mb-0" style="white-space: nowrap">Buy: $ 50.00</h6>
                        </div>
                    </div>
                    <div class="px-4">
                        <a href="#" class="btn btn-block btn-xl btn-outline-primary font-bold mt-3" role="button">View Full Activities</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

{% endblock %}

{% block js %}
<!-- Need: Apexcharts -->
<script src="assets/extensions/apexcharts/apexcharts.min.js"></script>
<script src="assets/js/pages/dashboard.js"></script>
{% endblock %}